<div id="app container">
  <nav class="topbar">
    <span class="app-name">tripStarter</span>
    <span class="user-name">{{$ctrl.user}}</span>
    <a href="/logout" class="logout">Logout</a>
  </nav>
  <div class="my-list">
    <div>
      <location-selector places="$ctrl.places" reset-list="$ctrl.resetList" places-service="$ctrl.placesService"></location-selector>
    </div>
    <div>
      <places-list places="$ctrl.places" reset-notes="$ctrl.resetNotes" notes-service="$ctrl.notesService" countries-service="$ctrl.restCountriesService"></places-list>
    </div>
  <div>
</div>
