<li class="places-list-entry">
  <div class="media-body">
    <div class="place-list-entry" ng-click="$ctrl.handleClick($ctrl.place.city, $ctrl.place.country)">{{$ctrl.place.city}}, {{$ctrl.place.country}} </div>
  </div>
  <div class="info" ng-hide="$ctrl.unavailable">
    <img ng-src="{{$ctrl.flag}}" style="width: 30%; height: 30%" border='1'>
    <div id="currency"><strong>Currencies:</strong> {{$ctrl.currencies}}</div>
    <div id="language"><strong>Languages:</strong> {{$ctrl.languages}}</div>
 <!--    <div id="timezones"><strong>Time Zones:</strong> {{$ctrl.timeZones}}</div> -->
    <div id="population"><strong>Country Population:</strong> {{$ctrl.population}}</div>
    <div id="notes"><strong>Notes: </strong>
      <input class="form-control" type="text" ng-model="$ctrl.note"/>
      <button class="btn" ng-click="$ctrl.submit($ctrl.place.city)">
    </div>
  </div>
</li>
