body{
  margin: 0px;
  background-color: lightblue
  background-size: cover;
  font-size: 18px;
}

.topbar {
  background: #ff3B3F;
  margin-bottom: 20px;
  padding: 10px;
  height: 70px;
}

.logout {
  clear: right;
  float:right;
  font-size: 125%;
  color: white;
  margin-right: 10px;
}

.user-name {
  float:right;
  font-size: 125%;
  color: white;
  margin-bottom: 15px;
  margin-right: 10px;
}

.login-header {
  background: #ff3B3F;
  margin-bottom: 20px;
  padding: 20px;
  height: 50px;
  color: white;
}

.signup-header {
  background: #ff3B3F;
  margin-bottom: 20px;
  padding: 20px;
  height: 50px;
  color: white;
}

.app-name {
  float:left;
  font-size: 230%;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.selector {
  background: #CAEBF2;
  padding: 5px;
/*  width: 50%;*/
  margin: auto;
  text-align: center;
}

.city {
  margin-right: 20px;
  margin-left: 5px;
}

.country {
  margin-right: : 20px;
  margin-left: 5px;
}

.info {
  padding-bottom: 20px;
  margin-right: 200px;
  font-size: 18px;
}
.places-list {
  margin-left: 100px;
}

.list-entry {
  margin: 10px;
}

.place-list-entry {
  margin-bottom: 5px;
  font-size: 24px;
}

.restaurants {
  margin: 10px;
  display: inline-block;
}

#top-restaurants:after {
  display: block;
  clear: both;
}

.hotels {
  margin: 10px;
  display: inline-block;
}

#top-hotels:after {
  display: block;
  clear: both;
}

.attractions {
  margin: 10px;
  display: inline-block;
}

#top-attractions:after {
  display: block;
  clear: both;
}
